@(products: List[models.Product], categories: List[models.Category], user: models.users.User, env: play.api.Environment)

<!-- Pass page title and content {html between braces} to the main view -->
@main("Sports", user) {
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align:center">Jump straight into the Action here!
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Project One -->
@for(p <- products) {
    @if(p.getCategory.getName.equals("Sports")){
        <div class="row">
            <div class="col-md-5">
                <!-- Display each product field value in a column -->
                <a href="@routes.HomeController.products()">
                @if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                    <img class="img-responsive" src="/assets/images/productImages/@(p.getId + ".jpg")" alt="">
                } else {
                    <img class="img-responsive" src="/assets/images/productImages/noImage.png"/>
                }
                </a>
            </div>
            <div class="col-md-7">
                <h3>@p.getName</h3>
                <h4>@p.getCategory.getName</h4>
                <p>@p.getDescription</p>
                <a class="btn btn-success" href="@routes.HomeController.products()">€@p.getPrice<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>
    }
}
<br>
        <a class="btn btn-primary2" href="@routes.HomeController.checkout()">Checkout here!<span class="glyphicon glyphicon-chevron-right"></span></a>
<!-- /.row -->
}